@media only screen and (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    body {
        background: white;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media only screen and (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */
    body {
        background: white;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media only screen and (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    body {
        background: white;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
        background: white;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    body {
        background: white;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width:1281px) { /* hi-res laptops and desktops */
    body {
        background: white;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

